[Unit]
Description=Pumba for CoreOS
Documentation=https://github.com/gaia-adm/pumba

After=docker.service
Requires=docker.service

[Service]
# Let processes take awhile to start up (for first run Docker containers)
# Large start timeout is to allow for pulling down Docker images from Registry
TimeoutStartSec=20min
TimeoutStopSec=15

# Restart policy
Restart=on-failure
RestartSec=5

# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment

# Pre-start and Start
## Directives with "=-" are allowed to fail without consequence
ExecStartPre=-/usr/bin/docker kill pumba
ExecStartPre=-/usr/bin/docker rm pumba

# Pumba command: modify it to suite your needs
# Default: randomly try to kill some container every 5 minutes
ExecStart=/usr/bin/docker run --name pumba -h %H \
					-v /var/run/docker.sock:/var/run/docker.sock \
					-e COREOS_PRIVATE_IPV4=${COREOS_PRIVATE_IPV4} \
				  gaiaadm/pumba:master --chaos "|5m|KILL:SIGTERM" --random

# Stop
ExecStop=/usr/bin/docker stop pumba

[Install]
WantedBy=multi-user.target

# deploy and run on all the nodes in the CoreOS cluster
[X-Fleet]
Global=true
