name: "Build and Test"

on:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - 'deploy/**'
      - 'examples/**'
      - '*.md'

jobs:

  test:
    name: "lint and test"
    runs-on: ubuntu-latest
    permissions:
      checks: write
      pull-requests: write

    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: setup Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: lint and test
        shell: sh
        run: |
          make lint
          make test-coverage

      - name: publish test results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          junit_files: ".cover/tests.xml"

      - name: upload coverage
        uses: codecov/codecov-action@v3
        with:
          files: ".cover/coverage.xml"

  integration:
    name: "integration tests"
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v3
        
      - name: setup buildx
        uses: docker/setup-buildx-action@v2

      - name: build image
        uses: docker/build-push-action@v3
        with:
          file: docker/Dockerfile
          context: .
          tags: test/pumba
          target: integration-tests

      - name: integration tests
        run: |
          docker run -i --rm --name integration-tests -v /var/run/docker.sock:/var/run/docker.sock test/pumba
